.jumbotron{
    text-align: center;
    background: none;
}

.secional-light{
    background-color: #eceeef;
    padding: 2rem;
}

.sectional-dark{
    background-color: #cccccc;
    padding: 2rem;
}

.wrapper{
    margin-top: 20px; 
}

button.coolStuffBtn{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}

.btncneter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}

.footerImg{
    padding: 15px;
}

.fa-brands{
    margin: 10px;
}

.fa-square-facebook{
    color:#3b5998;
}

.fa-square-google-plus{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}

.socialWrapper{
    margin: auto;
}